[Unit]
Description=Send IP address to Telegram
After=network.target

[Service]
ExecStart=/usr/local/bin/botIp.sh
Restart=on-failure
[Install]
WantedBy=default.target
