[Unit]
Description=Send IP address to Telegram
After=network.target

[Service]
ExecStart=/usr/bin/bash /home/%user/botIp.sh
Restart=on-failure
User=%user
Group=%user

[Install]
WantedBy=multi-user.target
